


/****************User Profile  *********************/
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}


/* Admin Styles */
body#admin-page  {
   padding-top: 0px;
}

body#admin-page .dropdown-user {
    height: auto
}

body#admin-page .navbar-default.sidebar,body#admin-page .navbar-default {
    background: #007791;
}
body#admin-page .navbar-default {
    border-bottom:1px solid #046f87;
}
body#admin-page #side-menu a {
    color: #fff;
}
body#admin-page #side-menu a:hover {
    color: #007791;
}

body#admin-page .navbar-default .navbar-brand {
    color: #fff;
}

body#admin-page .sidebar ul li {
  border-color: #046f87;
}
body#admin-page .sidebar ul li a.active {
    background-color: none;
}

input.btn.btn-info {
    background: #007791;
    border:  none;
    border-radius: 0;
}
body#admin-page .sidebar ul li a.active {
    background-color: #055f72;
}
